.loginScreen{
    position: relative;
    height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/530fc327-2ddb-4038-a3f0-2da2d9ccede1/9c547c8a-e707-4bdb-bdbc-843f134dd2a6/IN-en-20230619-popsignuptwoweeks-perspective_alpha_website_large.jpg") center no-repeat;
    background-size: cover;
}

.loginScreen_logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 20px;
}

.loginScreen_button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.loginScreen_gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.8) 100%
);

}

.loginScreen_body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
   
}

/* target the H1 inside the body */
.loginScreen_body>h1{
    position: relative;
   font-size: 3.125rem;
   margin-bottom: 20px;
   left: 290px;
}

.loginScreen_body>h2{   
    position: relative;
   font-size: 2rem;
   font-weight: 400;
   margin-bottom: 30px;
   left:290px;
}

.loginScreen_body>h3{   
    position: relative;
   font-size: 1.3rem;
   font-weight: 400;
   left:290px;
}


.loginScreen_input>form>input{
    position: relative;
    left: 290px;
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 35%;
    border: none;
    max-width: 600px;
    border-radius: 4px;
}

.loginScreen_input{
    margin: 20px;

}

.loginScreen_getStarted{
    position: relative;
    left: 290px;
    top:1px;
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-left: 3px;
    border-radius: 4px;
}